@model IEnumerable<GOTPlaner.Models.Segment>

@{
    ViewData["Title"] = "Odcinki";
}

<h1>Odcinki</h1>

<p>
    <a asp-action="Create">Utwórz Nowy</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Punkt A
            </th>
            <th>
                PunktB
            </th>
            <th>
                Punkty AB
            </th>
            <th>
                Punkty BA
            </th>
            <th>
                Liczba kilometrów
            </th>
            <th>
                Suma różnic poziomów
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TouristPointA.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TouristPointB.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointsAB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointsBA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LevelDifferenceSum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfKilometers)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
